@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html{
    margin: 0;
    height: 100%;
    font-size: 100%;
    background: #000;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.bg{
    height: 100%;
    position: relative;
    background: #000;
}
.charcoal-menu{
    font-size: 1.7rem;
    font-weight: 700;
    float: right;
    margin-right: 3em;
}
.charcoal-menu ul.charcoal-parent{
    list-style: none;
    display: inline-block;
}

.charcoal-menu li.charcoal-child {
    float: left;
    width: 5em;
    height: 2em;
    position: relative;
    cursor: pointer;
    margin-right: 0.3em;
}
.charcoal-menu li.charcoal-child:hover {
    background: url("../images/charcoal-bg1.jpg") no-repeat;
}
.charcoal-menu li > a {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 2em;
    text-decoration: none;
}

.charcoal-menu .charcoal_link{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}


.charcoal-child .hover {
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.charcoal-child .hover:before,
.charcoal-child .hover:after
{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #f1a312;
}

.charcoal-child .hover.hover-1:before,
.charcoal-child .hover.hover-1:after {
    left: 0;
}


.charcoal-child:hover .hover:before,
.charcoal-child:hover .hover:after {
    width: 100%;
    opacity: 1;
}
.thumbnail-box {
    position: absolute;
    width: 498px;
    height: 190px;
    top: 1.95em;
    left: 0;
    background: #131212;
}
.thumbnail-box-leftpos{
    left: -363px;
}
.img-thumbnail {
    background: url(../images/charcoal.jpg) no-repeat;
    float: left;
    width: 278px;
    height: 190px;
}
.sub-menu{
    padding-left: 20px;
    display: inline-block;
    width: 200px;
    height: 94px;
    padding-top: 6rem;
    background: url(../images/charcoal-bg2.jpg) no-repeat;
    opacity: 0.7;
}
a.sub-a {
    display: inline-block;
    width: 100%;
    height: 30px;
    float: left;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-decoration: none;
}
a.sub-a:hover{
    text-decoration: underline;
}
.show-section{
    display: none;
}
.active-disp:hover .show-section{
    display : block;
    animation: show 1500ms linear;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

/*content*/
.content-box{
    margin: 90px 40px;
    position: absolute;
    background: #fff;
    padding: 10px;
    display: inline-block;
    width: 200px;
    border-radius: 0 0 25px 25px;
    border-bottom: 55px solid #fff;
}
.content-box p{
    font-size: 15px;
    line-height: 1.7em;
}
.content-box1{
    margin-left: 25rem;
    margin-top: 5.2rem;
    position: absolute;
    background: #fff;
    padding: 10px;
    display: inline-block;
    width: 35rem;
    height: 30rem;
    border-radius: 50%;
    border-bottom: 55px solid #fff;
}

.content-title{
    font-size: 22px;
    font-stretch: condensed;
    transform: scaleX(0.5);
}

.content-title .narrow{
    margin: 20px 0;
    text-decoration: none;
    font-size: 3em;
    display: inline-block;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1, 2.2); /* Safari and Chrome */
    -moz-transform: scale(1, 2.2); /* Firefox */
    -ms-transform: scale(1, 2.2); /* IE 9+ */
    -o-transform: scale(1, 2.2); /* Opera */
}
main{
    min-height: 750px;
}
.footer {
    height: 15em;
    background: #000;
    position: absolute;
    width: 100%;
}
.head-title {
    margin-top: .3em;
    margin-left: 0.5em;
    font-size: 10em;
    font-weight: 700;
}
.cont-text {
    margin: 20px 25px 10px;
}
.author{
    float: right;
    margin-right: 3.7em;
    font-size: 3em;
    font-weight: 700;
}
.author-2{
    float: right;
    margin-right: 1.4em;
    font-size: 3em;
    font-weight: 700;
}
.section-1{
    min-height: 820px;
    position: relative;
}
.section-2{
    position: relative;
    height: 200px;
}
.half-box {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.half-box:before {
    content: '';
    position: absolute;
    left: 4%;
    width: 1940px;
    height: 35em;
    background-color: rgb(255, 255, 255);
    top: 0;
    -webkit-transform: rotate(156deg);
    -moz-transform: rotate(156deg);
    transform: rotate(156deg);
}
.bg-color-sec{
    background: #fff;
    padding-bottom: 5em;
}
.footer-content{
    color: #fff;
    width: 44em;
    margin: 1.7em;
    line-height: 1.7em;
}

.content-right {
    float: right;
    margin-left: 63rem;
    margin-top: 5.2rem;
    padding: 10px;
    max-width: 40em;
    max-height: 40em;
    display: inline-block;
    position: absolute;
    color: #fff;
}
.profile-sec{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    text-indent: -9999px;
    display: inline-block;
    background-size: auto 102%;
    margin: 0 0.5em 0.5em 10em;
    background: url("../images/author-dp.jpg") no-repeat;
}
.article-content {
    font-size: 15px;
    line-height: 1.4em;
}
.footer-content-links{
    color: #000;
    width: 30.3em;
    position: absolute;
    margin-left: 39.6em;
    line-height: 1.7em;
    margin-top: -4em;
    font-size: 1.5em;
}
.col-1{
    position: relative;
    width: 230px;
    display: inline-block;
}

.col-1 li {
    list-style: none;
    font-size: 14px;
}
.footer-content-links li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.footer-content-links li a:hover {
    text-decoration: underline;
    background: #000;
    color: #fff;
    transition: all .5s ease-in-out;
}
.copyright{
    color: #000;
    position: relative;
    text-align: center;
    font-size: 12px;
    align-content: center;
    margin-top: 2.8em;
}